{
  "extends": "loopback",
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
          "impliedStrict": true
      }
  },
  "rules": {
    "indent": ["error", "tab"],
    "max-len": ["error", 100, 4, {
       "ignoreComments": true,
       "ignoreUrls": true,
       "ignorePattern": "^\\s*var\\s.=\\s*(require\\s*\\()|(/)"
     }]
  }
}
