<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" routerLink="/">
				<img src="http://placehold.it/32x32?text=E" alt="Logo" class="nav-logo">
				Echo
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-top-links navbar-right">
				<!-- Superuser items -->
				<li *ngIf="isSuperuser()">
					<a class="admin-link" routerLink="admin">Users</a>
				</li>

				<!-- House Settings -->
				<li>
					<a routerLink="/profile">
						<i class="fa fa-cogs fa-fw"></i>
						Profile
					</a>
				</li>
				<li *ngIf="isLoggedIn()">
					<a class='logout-link' (click)="logout()"><i class="fa fa-sign-out"></i>Log Out</a>
				</li>
				<li *ngIf="!isLoggedIn()">
					<a class='login-link' routerLink="/login"><i class="fa fa-sign-in"></i>Log In</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div id="page-wrapper" class="container-fluid">
	<app-flash-message></app-flash-message>
	<!--h1>{{title}}</h1-->
	<router-outlet></router-outlet>
</div>
