<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-top-links">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" routerLink="/">
			<img src="http://placehold.it/32x32" alt="Logo" class="nav-logo">
			Echo
		</a>
	</div>

	<ul class="nav navbar-top-links navbar-right">
		<!-- Superuser items -->
		<li *ngIf="isSuperuser()">
			<a routerLink="portal.giftcard-list">Users</a>
		</li>

		<!-- House Settings -->
		<li>
			<a routerLink="/profile">
				<i class="fa fa-cogs fa-fw"></i>
				Profile
			</a>
		</li>
	</ul>
</div>
</nav>

<div id="page-wrapper" class="container-fluid">
	<!--h1>{{title}}</h1-->
	<router-outlet></router-outlet>
</div>
