<div class="container">
	<div class="card card-container">
    <div>
      <h1>Edit Profile</h1>
    </div>
		<form class="form" (ngSubmit)="saveUser()" #editProfileForm="ngForm">
			<div class="form-group col-xs-6">
				<label for="inputFirst">First Name</label>
				<input type="text" id="inputFirst" name="firstname" [(ngModel)]="user.firstName"
					value="user.firstName" class="form-control">
			</div>
			<div class="form-group col-xs-6">
				<label for="inputLast">Last Name</label>
				<input type="text" id="inputLast" name="lastname" [(ngModel)]="user.lastName"
					class="form-control">
			</div>
			<div class="form-group col-xs-12">
				<label for="inputEmail">Email</label>
				<input type="email" id="inputEmail" name="email" [(ngModel)]="user.email"
					class="form-control">
			</div>
			<div class="form-group col-xs-12">
				<label for="inputUsername">Username</label>
				<input type="text" id="inputUsername" name="username" [(ngModel)]="user.username"
					class="form-control">
			</div>
			<div class="form-group col-xs-12">
				<label for="inputAddress">Address</label>
				<input type="text" id="inputAddress" name="address" [(ngModel)]="user.address"
					class="form-control">
			</div>
			<div class="form-group col-xs-5">
				<label for="inputCity">City</label>
				<input type="text" id="inputCity" name="city" [(ngModel)]="user.city"
					class="form-control">
			</div>
			<div class="form-group col-xs-3">
				<label for="inputState">State</label>
				<input type="text" id="inputState" name="state" [(ngModel)]="user.state"
					class="form-control">
			</div>
			<div class="form-group col-xs-4">
				<label for="inputZip">ZIP Code</label>
				<input type="number" id="inputZip" name="zip" [(ngModel)]="user.postalCode"
					class="form-control">
			</div>
			<button class="btn btn-primary" type="submit">Save Changes</button>
      <button class="btn btn-default" (click)="this.router.navigateByUrl('/')" type="button">Cancel</button>
		</form><!-- /form -->
	</div><!-- /card-container -->
</div><!-- /container -->
